@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Didact+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme Colors */
html[data-theme="light"] {
  --color-primary: #32610e; /* Green */
  --color-secondary: #dddddd; /* Gray */
  --color-tertiary: #005f87; /* Red */
  --color-accent1: #eeeeee; /* Light Gray */
  --color-accent2: #444444; /* Dark Gray */
  --color-info: #0087af; /* Dark Cyan */
  --color-error: #d80908; /* Dark Red */
  --color-warning: #f49e00; /* Orange */
  --color-action: #005faf; /* Dark Blue */
}

/* Dark Theme Colors */
html[data-theme="dark"] {
  --color-primary: #d7af5f; /* Gold */
  --color-secondary: #808080; /* Light Gray */
  --color-tertiary: #d7875f; /* Green */
  --color-accent1: #1c1c1c; /* Black */
  --color-accent2: #d0d0d0; /* Gray */
  --color-info: #5fafd7; /* Light Cyan */
  --color-error: #f07a86; /* Light Red */
  --color-warning: #f49e00; /* Orange */
  --color-action: #00afaf; /* Light Brown */
}

:root {
  --font-comic: "Comic Neue", sans-serif;
  --font-didact: "Didact Gothic", sans-serif;
}
